.App {
text-align: center;
 
 background-size: cover;
 height: 840px;
}
body {
 background-color: blanchedalmond;
  
}

.sign-up-page {
  position: relative;
  top: 200px;
  left: 550px;
  background-color: rgb(243, 234, 255);
  width: 300px;
  height: 400px;
  border-style: solid;
  border-width: 5px;
  
}


.login-page {
  position: relative;
  top: 100px;
  left: 550px;
  background-color: rgb(243, 234, 255);
  width: 300px;
  height: 400px;
  border-style: solid;
  border-width: 5px;
}


.App-link {
  color: #09d3ac;
}

.users-div {
  
  background-color: white;
}

nav{
  display: flex;
  justify-content: space-aroun;
  align-items: center;
  min-height: 10vh;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVf3kVvO2CKk1z9DMsaWxVOJIlZ3m0GICQk2UZualghXv9Wmy3')
}
li {
  background-color: black;
  color: white;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(254, 47, 47, 0.721);
  transition: 0.3s;
  width:400px;
  height:500px;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(116, 4, 24);
}

/* Add some padding inside the card container */
.container {
 
  padding: 2px 16px;
}