.App {
  text-align: center;
}


.App-link {
  color: #09d3ac;
}

.nav-bar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  display: block;
  padding: 8px;
  background-color: #dddddd;
}